<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidpim">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidPim"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".view.ClubRoom"
            android:exported="false" />
        <activity
            android:name=".view.Members"
            android:exported="false" />
        <activity
            android:name=".view.Scc"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_map_key}" />
        -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".view.AddPost"
            android:exported="false" />
        <activity
            android:name=".ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".EntranceActivity"
            android:exported="false" />
        <activity
            android:name=".pdfReader"
            android:exported="false" />
        <activity
            android:name=".courses"
            android:exported="false" />
        <activity
            android:name=".view.OnboardingExample5"
            android:exported="false" />
        <activity
            android:name=".view.OnboardingExample4Activity"
            android:exported="false" />
        <activity
            android:name=".view.LkolPro"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.SignUpPro"
            android:exported="false" />
        <activity
            android:name=".view.LoginPro"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.lostAndFound"
            android:exported="false" />
        <activity
            android:name=".view.upload_post"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>